requests
pandas
numpy
qrcode
Pillow
python-dotenv
pytz
schedule
scikit-learn
joblib
shap
fastapi
uvicorn[standard]
ta
pandas-ta
yfinance
xgboost
lightgbm
openai
groq
anthropic
beautifulsoup4
feedparser
textblob
scipy
edge-tts
nltk
google-generativeai